<!DOCTYPE html>
html(lang="en")
head
  title Estudio Remate
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/animate.css")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .page-home
    section.main-wrap
      .logo 
        img(src="assets/img/remate-02.png", alt="Estudio Remate")
      h1.logo-text estudio remate.
      
    section.social
      .profiles 
        ul.social-icons
          li.icon 
            a(href="https://www.twitter.com/estudioremate") Twitter
          li.icon 
            a(href="https://www.instagram.com/estudioremate") Instagram
          li.icon 
            a(href="mailto:javier@estudioremate.com") E-mail
  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")