<!DOCTYPE html>
html(lang="en")
head
  title Estudio Remate
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .page-home
    section 
      h1 Estudio Remate
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet alias itaque consectetur fuga magni quia hic possimus provident cupiditate, nemo cumque officiis quam sint voluptatibus, natus similique? Labore ad, fugit.
  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")